#homepage{
    background-image: url('omg.jpg');
    background-size: cover;
    background-attachment: fixed;
    }

  .homepage {
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 75px;
    min-height: 100vh;
  }
